
<!-- <div>
  <textarea name="" id="" cols="50" rows="5"></textarea>
  <button>Submit</button>
</div> -->

<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="submitPublications()">
    <div class="form-group">
        <!-- <label for="content">Name</label> -->
        <!-- Remplacez l'input par un textarea -->
        <textarea class="form-control" id="content" formControlName="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || !hasToken()">Submit</button>
  </form>
</div>

<div class="global">
  <div class="card-container" *ngFor="let publication of publications">
    <p>{{ publication.content }}</p>
    <div class="like-cont">
      <div class="pr">
        <a >
          <img class="imgg" src="assets/images/like.png">
      </a>
        <p>{{ publication.likes }}</p>
      </div>
      
      <div>
        <a href=""><img class="imgg" src="assets/images/dislike.png"></a>
        <p>{{ publication.dislikes }}</p>
      </div>
    </div>
  </div>
</div>

