
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="submitPublications()">
    <div class="form-group">
        <textarea class="form-control" id="content" formControlName="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || !hasToken()">Submit</button>
  </form>
</div>

<div class="global">
  <div class="card-container" *ngFor="let publication of publications">
      <p>{{ publication.content }}</p>

      <div class="like-cont">
        <div class="pr">
          <button (click)="toggleLike(publication.id)">Like</button>
          <p>{{ publication.likes }}</p>
        </div>
        
        <div>
          <button (click)="toggleDislike(publication.id)">Dislike</button>
          <p>{{ publication.dislikes }}</p>
        </div>
      </div>
      
      <div class="comments">
        <div class="commentaire" *ngFor="let comment of publication.comments; let i = index">
          <form [formGroup]="registerForms[comment.id]">
            <p *ngIf="!editMode[comment.id]">{{ comment.comment }}</p>

            <div *ngIf="editMode[comment.id]" class="form-group">
              <textarea class="form-control" id="updatecomment" formControlName="comment"></textarea>
            </div>

            <div *ngIf="isCommentOfUser(comment.id)" >
              <button (click)="deleteComment(comment.id)">Effacer Commentaire</button>
              <button *ngIf="!editMode[comment.id]" (click)="toggleText(comment.id)">Update</button>
              <button *ngIf="editMode[comment.id]" (click)="updateComment(comment.id)">Save</button>
            </div>
            

            <div class="pr disp">
              <button (click)="toggleLikeComment(comment.id)">Like</button>
              <p>{{ comment.likes }}</p>
            </div>
          </form>
        </div>

        <form [formGroup]="commentForms[publication.id]" (ngSubmit)="submitComment(publication.id)">
          <div class="form-group">
            <input class="form-control" formControlName="comment" placeholder="Add a comment" />
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="commentForms[publication.id].invalid">Comment</button>
        </form>
      </div>
  </div>
</div>

