
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="submitPublications()">
    <div class="form-group">
        <textarea class="form-control" id="content" formControlName="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || !hasToken()">Submit</button>
  </form>
</div>

<div class="global">
  <div class="card-container" *ngFor="let publication of publications">
    <p>{{ publication.content }}</p>
    <div class="like-cont">
      <div class="pr">
        <!-- <a >
          <img class="imgg" src="assets/images/like.png">
      </a> -->
      <button (click)="toggleLike(publication.id)">Like</button>
        <p>{{ publication.likes }}</p>
      </div>
      
      <div>
        <!-- <a href=""><img class="imgg" src="assets/images/dislike.png"></a> -->
        <button (click)="toggleDislike(publication.id)">Dislike</button>
        <p>{{ publication.dislikes }}</p>
      </div>
      <!-- <div>
        <button (click)="deletePublication(publication.id)">X</button>
      </div> -->
    </div>
  </div>
</div>

