<div *ngIf="isConnected()">
    <div class="global">
        <div class="card-container" *ngFor="let publication of publications">
          <p>{{ publication.content }}</p>
          <div class="like-cont">
            <div class="pr">
              <a ><img class="imgg" src="assets/images/like.png"></a>
              <p>{{ publication.likes }}</p>
            </div>
            
            <div>
              <a ><img class="imgg" src="assets/images/dislike.png"></a>
              <p>{{ publication.dislikes }}</p>
            </div>
          </div>
        </div>
      </div>
</div>


<div *ngIf="!isConnected()">
    <h1>You must be connected to access to your messages ! </h1>
</div>

<div *ngIf="publications.length === 0 && isConnected()">
    <h1>Vous n'avez pas de publications</h1>
</div>
